<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/index.css">
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        <link href='/css/material-icons.css' rel="stylesheet">
        <link href="/node_modules/vuetify/dist/vuetify.min.css" rel="stylesheet">
        <title>cryptopticon</title>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-toolbar fixed>
                    <v-toolbar-title>
                        <b>motionand</b><i>vibration</i>
                    </v-toolbar-title>
                </v-toolbar>
                <main>
                    <v-alert success dismissible v-model="alertNewUserCreated">
                        {% raw %}
                        Successfully uploaded {{ file.name }}! Nice work <i class="em em---1"></i>
                        {% endraw %}
                    </v-alert>
                    <v-container fluid>

                    </v-container>
                </main>
            </v-app>
        </div>
    </body>
    <script src="/node_modules/vue/dist/vue.link.js"></script>
    <script src="/node_modules/vue-resource/dist/vue-resource.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="/js/app.js"></script>
</html>
